@model IEnumerable<Category>
<div class="nn-block">
    <div class="nn-megamenu-sidebar-title"><i class="glyphicon glyphicon-list"></i><h2>Danh Mục</h2></div>
    @foreach (var item in Model)
    {

        <div class="nn-megamenu-sidebar">
            <ul>
                <li>
                    <a href="/Product/IconCategory?CateID=@item.Id">
                        <span class="col-md-3"><img src="~/Content/img/icons/@item.Icon" class="img-responsive" /></span>
                        <h5 class="col-md-9"><strong>@item.Name</strong></h5>
                    </a>
                </li>
            </ul>
        </div>
    }
</div><!--end block category-->
