@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <div class="dropdown" style="float:right;">
            <button class="dropbtn">@Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { style= "color:#FFF; font-size: 14px; text-align: center; text-transform: uppercase;" })</button>
            <div class="dropdown-content">
                <a href="/Order/Checkout" >Đơn hàng</a>
                <a href="/Order/List">Hàng đã mua</a>
                <a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
            </div>
        </div>
            }
            }
            else
            {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Đăng kí", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
            }

<style>
    .dropbtn {
        background-color: #000000;
        color: white;
        padding: 14px;
        font-size: 14px;
        border: none;
        cursor: pointer;

        
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #000000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #000000;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #000000;
    }

</style>